.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.mainPanel{
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    width: 80%;
    background-color: rgb(34, 34, 34);
    padding: 20px;
    overflow: hidden;
}

.column {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: max-content;
}

.symbol{
    overflow: hidden;
}


.symbol img{
    width: 50%;
    
}
.creditButtonsContainer{
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.creditButton{
    width: 100px;
    height: 50px;

}

.playButtonContainer{
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.playButton{
    align-self: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: palegreen;
    border-color: black;
    font-size: 1.3vw;
}

.balanceContainer, .lastWinContainer{
    width: 400px;
    background-color: black;
    border-radius: 25px;
    border: 3px solid lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{
    font-size: 1.2vw;
    color: yellow;
    padding-left: 5px;
    padding-right: 5px;
    border: 2px solid yellow;
    border-radius: 5px;
    border-top: none;
    margin: 0;
    width: 100px;
}

.credit{
    font-size: 1.3vw;
    color: white;
}

.roll{
    animation-name: roll;
    animation-duration: 0.2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    position: relative; 
    filter: blur(20px);
}

.last-roll {
    animation-name: last-roll;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    position: relative; 
    filter: blur(15px);
    top: -150%;
    animation-fill-mode: forwards;
}


.last-roll:nth-child(1) {
    animation-delay: 0s; 
}

.last-roll:nth-child(2) {
    animation-delay: 0.2s; 
}

.last-roll:nth-child(3)  {
    animation-delay: 0.4s; 
}

.last-roll:nth-child(4) {
    animation-delay: 0.6s;
}

.last-roll:nth-child(5) {
    animation-delay: 0.8s;
}

@keyframes roll {
    from {
        top: -100%;
    }
    to {
        top: 100%;
    }
}

@keyframes last-roll {
    from{
        top: -100%;
        filter: blur(15px);
    }
    to{
        top: 0%;
        filter: blur(0px);
    }
}