.Slots {
  text-align: center;
  margin-top: 5%;
  display: flex;
  width: 100%;
}

.Deposit {
  text-align: center;
  margin-top: 5%;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
